html, body {
    width: auto; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.top-img{
    width: 100%;
}
#logo{
    position: absolute;
   top: 2%;
   left: 9%;
   width: 140px;
   height: 72px;
   
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    top: 2%;
    left: 7%;
    position: absolute;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
   
}
ul.menu{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
   
  
    
}


li.menu-item{
    

}
ul{
list-style-type: none;
}