html,
body {
  width: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-img {
  width: 100%;
}
#logo {
  position: absolute;
  top: 2%;
  left: 9%;
  width: 140px;
  height: 72px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 5%;
  left: 7%;
  position: absolute;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
ul.menu {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
}
li.menu-item {
}
ul {
  list-style-type: none;
 
}
a {
    text-decoration: none;
    color: #f0f0f0;
}
.search{
    position: absolute;
  top: 7%;
  right: 25%;
  color: #f0f0f0;
 

}
.donate{
    border: 1px solid #E97200;
    background: #E97200;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fdfeff;
    padding-left: 13px;
    padding-top: 15px;
}
.lion{
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.link{
    position: absolute;
    bottom: 8%;
    left: 10%;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
div.nav2{
    border: 1px solid #4B3E46;
    background: #4B3E36;
    width: 100%;
    height: 45px;
    padding-top: 0%;
}
ul.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    font-size: 12px;

}
div.text{
    text-align: center;
    font-size: 18px;
    color: #4B3E36;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}
.african{
    margin-top: 10%;
    font-size: 16px;
}
div.table{
    border: 1px solid grey;
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
div.numbers{
    border:1px solid #4B3E46;
    background: #4B3E36;
    width: 15%;
    height: 70%;
    position: absolute;
    margin-top: 4%;
    margin-left: 7%;
    justify-content: space-between;
}
.lion-img{
    margin-left: 10%;
    margin-top: 7%;
}
div.statistic{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}
div.text2{
    width: 80%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    color: #4B3E36;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
    
}
h6{
    text-align: center;
    color: #f0f0f0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h5 {
    font-size: 65px;
    color: #E97200;
   margin: 0;
   text-align: center;

}
/* I started from here*/
#row {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}
.solutions1 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.solutions2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
#solutions {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 30%;
  padding-top: 5%;
}
#parent {
  background-color: #f0f0f0;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  background: linear-gradient(#f0f0f0 50%, #fdfeff 50%);
}
#img1 {
  padding-right: 40px;
}
#img2 {
  padding-top: 70px;
}
.behaviors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 6%;
}
#behavior1 {
  margin-top: 70px;
  width: 40%;
}
#diet {
  margin-top: 70px;
  width: 40%;
}
.habitats {
  background-color: #088f8f;
  color: white;
  height: 400px;
}
#hr {
  width: 50%;
}
