html,
body {
  width: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.top-img {
  width: 100%;
}
 div#gap.nav2{
  margin-top: -4px;
}
#logo {
  position: absolute;
  top: 2%;
  left: 9%;
  width: 140px;
  height: 72px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 5%;
  left: 7%;
  position: absolute;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
ul.menu {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;

}


ul {
  list-style-type: none;
}
h1.lion-text {
  font-size: 15px;
  margin-top: 8%;
}
.search {
  position: absolute;
  top: 7%;
  right: 25%;
}
a.link-color {
  color: #f0f0f0;
  text-decoration: none;
}

.donate {
  border: 1px solid #e97200;
  background: #e97200;
  width: 70px;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdfeff;
  padding-left: 13px;
  padding-top: 15px;
}
.lion {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 70px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  position: absolute;
  bottom: 8%;
  left: 10%;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
div.nav2 {
  border: 1px solid #4b3e46;
  background: #4b3e36;
  width: 100%;
  height: auto;
}
ul.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0f0f0;
  font-size: 12px;
}
div.text {
  text-align: center;
  font-size: 18px;
  color: #4b3e36;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}
.african {
  margin-top: 10%;
  font-size: 16px;
}
p.top {
  text-align: start;
}
li.menu-item {
  color: white;
  text-decoration: none;
}

div.table {
  border: 1px solid grey;
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}

div.numbers {
  border: 1px solid #4b3e46;
  background: #4b3e36;
  width: 15%;
  height: 70%;
  position: absolute;
  margin-top: 4%;
  margin-left: 7%;
  justify-content: space-between;
}
.lion-img {
  margin-left: 10%;
  margin-top: 7%;
}
div.statistic {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
div.text2 {
  width: 80%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
  font-family: Arial, Helvetica, sans-serif;
  color: #4b3e36;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
}
h6 {
  text-align: center;
  color: #f0f0f0;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 4%;
}
h5 {
  font-size: 65px;
  color: #e97200;
  margin: 0;
  text-align: center;
  padding: 4%;
}
hr {
  margin-left: 8%;
  margin-right: 8%;
}


.item{
    border: 1px solid grey;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.colom1{
    display: flex;
    flex-direction:column;
    width: 100%;
   
}
.item1{
    width: 30%;
    color: red;
    font-size: 13px;
    float:right;
    margin-left: 2%;
}
div.item2{
    width: 70%;
   float:left;
    font-size: 13px;
    
}
/* I started from here*/
#row {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}
.solutions1 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.solutions2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
#solutions {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 30%;
  padding-top: 5%;
}
#parent {
  background-color: #f0f0f0;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  background: linear-gradient(#f0f0f0 50%, #fdfeff 50%);
}
#img1 {
  padding-right: 40px;
}
#img2 {
  padding-top: 70px;
}
.behaviors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 6%;
}
#behavior1 {
  margin-top: 70px;
  width: 40%;
}
#diet {
  margin-top: 70px;
  width: 40%;
}
.habitats {
  margin-top: 5%;
  background-color: #088f8f;
  color: white;
  height: 400px;
}

#hr {
  width: 20%;
}
h1,
h3,
h7,
h4 {
  text-align: center;
  padding-top: 3%;
}
hr#hr {
  margin-left: 40%;
  margin-right: 30%;
}
div.pic {
  border: 1px solid #4b3e36;
  background: #4b3e36;
  width: 100%;
  height: 300px;
}
h1.pic {
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}
h4.pic {
  color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  width: 50%;
  padding-bottom: 2%;
}
.awf-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
}
.awf {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: start;
  justify-content: left;
}
.title-awf {
  text-align: left;
}
h2.title-awf {
  color: #e97200;
  font-size: 18px;
}
h4.title-awf {
  color: black;
  font-size: 16px;
}
#stories {
  text-align: left;
  color: #e97200;
  margin-top: 40%;
  width: 40%;
  height: 50px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
  padding-bottom: 60px;
}
.img-zoom {
  transition: transform 0.1s;
}
.img-zoom:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
}
button.now {
  margin-left: 45%;
}
a {
  text-decoration: none;
}
.gift {
  background-color: #088f8f;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#donate {
  width: 110px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}
#gift {
  padding-right: 30px;
  padding-bottom: 40px;
  color: white;
}
.social-media {
  color: #e97200;
}
#social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style: none;
}
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.all-li {
  padding-right: 10px;
}
#wildlife {
  color: #e97200;
}
#footer-links .all-li {
  color: black;
}
#footer-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#links-last {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  width: 40%;
}
.footer-last {
  padding: 10px;
}
